<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description"  content="@ViewBag.Description"/>
    <meta name="keywords"  content="@ViewBag.Keywords"/>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav id="layoutNav">
            @* Se necesita importar @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers en viewImports *@
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Panel" asp-action="Edit">Create post</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign in</a>
            }
            <a asp-controller="Panel" asp-action="Index">Admin panel</a>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
<script>
    $(document).ready(function () {
        var urlcontent = '@Url.Content("~")';
        var url = window.location.protocol + "//" + window.location.host + urlcontent;
        $.ajax({
            url: url + '/Panel/GetCategories',
            dataType: 'json',
            data: {
            },
            success: function (data) {
                $.each(data, function (key,value) {
                    console.log(value.category);
                    $('#layoutNav').append("<a href='" + urlcontent + "/?idCategory=" + value.id + "'>" + value.category + "</a>");
                });
            },
            error: function (req, status, error) {
                console.log("ERROR");
            }
        }); 
    });
</script>
