@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
    var base_path = Context.Request.PathBase;
}

<div class="postContainer">
    <div class="post">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"{base_path}/image/{Model.Image}";
            <div class="postRow">
                <img src="@image_path" width="500" />
            </div>
        }
        <div class="postRow">
            @Model.Category
        </div>
        <div class="bodypost">@Html.Raw(Model.Body)</div>
        <div class="postRow">
            @Model.Title
        </div>
        <div class="postRow">
            @Model.Created
        </div>
        <div class="postRow">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
            }
            @foreach (var c in Model.MainComments)
            {
                <p>
                    @c.Message - @c.Created
                </p>
                <div>
                    <h4>Sub Comments</h4>
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });
                    }
                    @foreach (var sc in c.SubComments)
                    {
                        <p>
                            @sc.Message - @sc.Created
                        </p>
                    }
                </div>
            }
        </div>
    </div>
</div>
